head 
    meta(chatset="UTF-8")
    title 江西-小殇
    link(href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet")
    script(src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.slim.min.js")
    script(src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.4.1/js/bootstrap.min.js")
    script(src="https://cdn.bootcdn.net/ajax/libs/axios/0.21.1/axios.min.js")